@font-face {
    font-family: 'NotoSerifKhmerWF';
    src: url('webfonts/notoserifkhmer-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
[lang=km] { 
    font-family: "NotoSerifKhmerWF"; 
    font-size: 130%;
    }






