@font-face {
    font-family: 'NotoSerifLaoWF';
    src: url('webfonts/notoseriflao-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
	}
[lang=lo] { 
    font-family: "NotoSerifLaoWF"; 
    font-size: 130%;
    }






